@model HR_Management.Models.PersonalIncomeTax

@{
    ViewData["Title"] = "PI Tax Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Personal IncomeTax List</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item">PI Tax</li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</div>

<div class="card mb-3">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">Info Details</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Tax_ID" />
                    <div class="form-group">
                        <label class="control-label">Tax Authority</label>
                        <input asp-for="@Model.Tax_Authority" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Salary</label>
                        <input asp-for="@Model.SalaryIDNavigation.Basic_Salary" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <input asp-for="@Model.Amount" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Registration Date</label>
                        <input asp-for="@Model.Registration_Date" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Notes</label>
                        <textarea disabled asp-for="@Model.Notes" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <a asp-action="Edit" asp-route-id="@Model.Tax_ID" class="btn btn-primary">Edit Info</a>
                        <a asp-action="Index" class="btn btn-secondary">Come Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>