@model IEnumerable<HR_Management.Models.PersonalIncomeTax>

@{
    ViewData["Title"] = "Personal Income Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Personal Income Tax List</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item">Tax Table</li>
    </ol>
</div>

<!-- Row -->
<div class="row">
    <!-- Datatables -->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tax Table</h6>
                <a asp-action="Create" class="btn btn-success">Add</a>
            </div>
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush" id="dataTable">
                    <thead class="thead-light">
                        <tr>
                            <th>Tax Authority</th>
                            <th>Amount</th>
                            <th>Salary</th>
                            <th>Notes</th>
                            <th>Registration Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tax Authority</th>
                            <th>Amount</th>
                            <th>Salary</th>
                            <th>Notes</th>
                            <th>Registration Date</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Tax_Authority</td>
                                <td>@item.Amount</td>
                                <td>@item.SalaryIDNavigation.Basic_Salary</td>
                                <td>@item.Notes</td>
                                <td>@item.Registration_Date.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-sm btn-primary mr-2" asp-action="Details" asp-route-id="@item.Tax_ID">View</a>
                                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Tax_ID">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>